<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add New Fish To Water Body</title>
</head>
<body>
    <h1>Add fish to water body!</h1>
    
    <form th:action="@{/fish/addedFishToWaterBody}" method="post">
        <div>
            <label>Species Name:</label>
            <input type="text" name="species" required />
        </div>
        
        <div>
            <label>Water Body Name:</label>
            <input type="text" name="name" required />
        </div>

        <button type="submit">Add Fish</button>
    </form>
    
    <p><a href="/">Back to Home</a></p>
</body>
</html>