<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Success!</title>
</head>
<body>
    <h1 th:text="${createMessage}">Status</h1>

    <div>
        <h3>Water Body Registered:</h3>
        <p><strong>Name:</strong> <span th:text="${waterBodyName}"></span></p>
        <p><strong>City:</strong> <span th:text="${waterBodyCity}"></span></p>
        <p><strong>Type:</strong> <span th:text="${waterBodyType}"></span></p>
        
        <p><strong>Private Access:</strong> 
           <span th:text="${isBodyPrivate ? 'Yes' : 'No'}"></span>
        </p>
    </div>

    <p><a href="/">Back to Home</a></p>
</body>
</html>