<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AZ Fish Species</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    
    <h1>All Arizona Fish Species</h1>

    <div class="container">
     <table>
        <thead>
            <tr>
                <th>Species Name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="fish : ${fishList}">
                <td th:text="${fish.species}">Species Name</td>
            </tr>
        </tbody>
    </table>   
    </div>


</body>
</html>