<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AZ Fish Species</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    
    <h1>All Arizona Fish Species</h1>

    <div class="container">
        <div style="display: flex; justify-content: center;">
            <table>
                <thead>
                    <tr>
                        <th>Species Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="fish : ${fishList}">
                        <td>
                            <a th:href="@{/fish/info/{name}(name=${fish.species})}" 
                            th:text="${fish.species}" 
                            style="color: var(--ink-black); text-decoration: underline;">
                            Species Name
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div style="text-align: center; margin-top: 50px;">
            <a href="/" class="btn-link">« Back to Home</a>
        </div>
        
    </div>


</body>
</html>