<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Success - Frontier Registry</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    
    <h1>Results</h1>

    <div class="container">  
        <h2 th:text="${waterBodies_List}" style="font-size: 2.2rem; border: none;">Water bodies containing this specific fish</h2>

        <div style="text-align: center; margin-top: 50px;">
            
            <a href="/" class="btn-link">« Back to Home</a>
        </div>
    </div> 
</body>
</html>